$border_filter: 1px dashed #ccc;
$animation_second: .5s;

.content__parent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.content__filter {
  height: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}

  .content__filter__span {
    display: flex;
    padding: 6px;
  }

  .content__filter__buttons {
    display: flex;
    width: 100%;
  }

.filter {
  border-top: $border_filter;
  border-bottom: $border_filter;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: background-color $animation_second;
}

  .filter input, .filter label {
    cursor: pointer;
  }

  .filter:hover {
    background-color: #e0dfdf;
    transition: background-color $animation_second;
  }

.filter__first {
  @extend .filter;
  border-left: $border_filter;
  border-radius: 6px 0 0 6px;
}

.filter__last {
  @extend .filter;
  border-right: $border_filter;
  border-radius: 0 6px 6px 0;
}
.content {
  @extend .content__parent;
  flex-direction: row;
  align-items: flex-start;
  height: 90%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100px;
  height: 50px;
  background: transparent;
  border: 0;
  margin: 6px;
  background-color: #24292e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 1px #909090;
  cursor: pointer;
  transition: background-color $animation_second;
}

  .btn:hover {
    background-color: #42484e;
    transition: background-color $animation_second;
  }

  .btn:active {
    box-shadow: 1px 1px 1px 0px #909090;
    transform: translate(1px, 1px);
  }
