$height_noti: 70px;

.transition_config {
  transition: all .5s;
}

.notification__container {
  top: 0;
  display: flex;
  position: absolute;
  width: 100%;
  height: $height_noti;
  opacity: 0;
  z-index: -1;
  @extend .transition_config;
}

.notification {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  border-radius: 6px;
  @extend .transition_config;
}

.title {
  display: flex;
  height: 40%;
  width: 100%;
  align-items: center;
  border-bottom: 1px dashed #dadada;
}

  .title__border__dark {
    border-bottom: 1px dashed #636363;
  }

  .title__span {
    width: 100%;
    text-align: center;
  }

  .title__btn {
    background: transparent;
    background-color: #ccc;
    border-radius: 3px;
    color: #5d5d5d;
    height: 20px;
    width: 20px;
    border: 0;
    box-shadow: 2px 2px 1px 0px #717171;
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
    .title__btn:active {
      box-shadow: 1px 1px 1px 0px #717171;
      transform: translate(1px, 1px);
    }

.message {
  display: flex;
  height: 60%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.animation_6s {
  animation: all .6s;
}

.left {
  margin-left: 1px;
  @extend .animation_6s;
}

.center {
  margin-left: 25%;
  @extend .animation_6s;
}

.right {
  margin-left: calc(50% - 1px);
  @extend .animation_6s;
}

.top {
  top: 0;
  border-radius: 0 0 6px 6px;
  @extend .transition_config;
}

.middle {
  top: calc(50% - #{$height_noti});
  @extend .transition_config;
}

.bottom {
  top: calc(100% - #{$height_noti});
  border-radius: 6px 6px 0 0;
  @extend .transition_config;
}

.show {
  opacity: 1 !important;
  z-index: 1 !important;
  @extend .transition_config;
}

.success {
  @extend .notification;
  background-color: #2dc15c;
}

.info {
  @extend .notification;
  background-color: #1aa5f3;
}

.warning {
  @extend .notification;
  background-color: #ffe854;
  color: #525252;
}

.fail {
  @extend .notification;
  background-color: #ff5b5b;
}

@media (max-width: 500px) {
  .notification {
    width: 60%;
  }
}
