$transition: all .5s;
$color_selected: #949494;

.container {
  width: 100%;
  border-bottom: 1px solid #949494;
}

.btn {
  background: transparent;
  background-color: #ccc;
  border: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: all .6s;
}

  .btn:hover {
    background-color: $color_selected;
  }

.btn-selected {
  @extend .btn;
  background-color: $color_selected;
}
