@import '../style.scss';

%size {
  height: 40px;
  min-width: 100px;
  width: 200px;
  border-radius: 3px;
  outline: none;
}

.Select {
  @extend %size;
  display: flex;
  border: 1px solid $color-grey-light;

  select {
    @extend %size;
    appearance: none;
    background-color: transparent;
    padding: 8px 16px;
    margin: 0;
    border: 0;
    font-size: 16px;
  
    background-image:
      linear-gradient(45deg, transparent 50%, $color-grey-heavy 50%),
      linear-gradient(135deg, $color-grey-heavy 50%, transparent 50%),
      linear-gradient(to right, $color-grey-light, $color-grey-light);

    background-position:
      calc(100% - 17px) calc(1em + 2px),
      calc(100% - 12px) calc(1em + 2px),
      calc(100% - 2em) 0.5em;

    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
  }
}