$animation_second: .5s;
$font-size: 16px;

$color-font-primary: #24292e;
$color-font-secondary: #ffffff;

$color-white: #ffffff;

$color-grey-light: #e4e4e4;
$color-grey-medium: #a0a0a0;
$color-grey-heavy: #42484e;

$color-primary: #24292e;
