$animation_second: all .5;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100px;
  height: 50px;
  background: transparent;
  border: 0;
  background-color: #24292e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px #a0a0a0;
  cursor: pointer;
  transition: $animation_second;
}

  .btn:hover {
    background-color: #42484e;
    transition: $animation_second;
  }

  .btn:active {
    box-shadow: 0px 1px 1px 0px #909090;
    transform: translateY(1px);
  }

.uploader {
  display: none;
  width: 0;
  height: 0;
}

.uploader__title {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content__input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.content__items {
  @extend .content;
}

.content__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: 14px;
  box-shadow: 0px 2px 5px 0px #cacaca;
  transition: all .6s;
}

  .content__item:hover {
    box-shadow: 0px 2px 5px 1px #cacaca;
    transition: all .6s;
  }

.content__item__title {
  display: flex;
  width: 90%;
  margin-left: 10px;
}

.content__item__buttons {
  display: flex;
  width: 10%;
  justify-content: flex-end;
  padding-right: 10px;
}

.btn-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 0;
  background: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAACzAAAAswG504oEAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAHtQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoJpDjgAAACh0Uk5TAAIEDQ8QFBgmKi87Tk9SanFyc3V3eHl7fYGIqau0xcjP293m9vn6/oRyv7cAAADBSURBVCjPdZLpFoIgEIWvWuGSmRXuC27o+z9hGoLLifkDfDPMDgghflp2XZn6BHsxEz42OaV5M/LE3LjL+tASVyvsmSt5wCt7s7IrHqz2PDP2fo2M//6YrD7wWVOzJU4yOMDNk9S7Ac6QzHnyeHlOVHA6LSYxJ/CnqwB0d1wmH2krTaniQJuiLKA0iqMo0UVQGsURdXrFztXn4GoL/j4GV+m+TunKAp/nAkVLyF2GfZC1JfomatuuH5R+tPpl+Lc+X2ZrFarkl6RZAAAAAElFTkSuQmCC);
}
